<footer class="bg-dark text-center text-white footer"> <!--footer-->
    <div class="container p-4 pb-0">
    <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-facebook"></i></a>
        <!-- Twitter -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-twitter"></i></a>     
        <!-- Google -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-google"></i></a>
        <!-- Instagram -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-instagram"></i></a>
        <!-- Linkedin -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-linkedin"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light bg-info btn-floating m-1" href="#!" role="button"><i class="fa fa-github"></i></a>
      </section>
    </div>
    <!-- Copyright with my name-->
    <div class="text-center p-3 bg-dark copyright">
      © 2023 Copyright: Viktor Beckes
    </div>
  </footer> <!--footer-->
