<div class="body">
    <h1>About us</h1>
    <hr class="border border-dark border-3 opacity-75">



    <div class="container" >
        <h4>We are Mario & Luigi. Mario comes from Tropea (Calabria, Italy) and has always got to know the culinary side of Italy from his grandparents. Authentic cuisine is simply part of the tradition there. Tiffany comes from Vienna and her passion is Italian cuisine. During a trip through the regions of Italy, she met Andrea. Together they embarked on a new adventure and opened IL PENNELLO.
            The aim is to bring the original recipes from the different regions of Italy to Vienna. Of course, the Neapolitan pizza should not be missing in such a concept. </h4>
            <br>
        <h4>The location in the 14th district was just perfect - a nice cozy place, easy to get to and an Italian pizza oven from the excellent Forni Valoriani brand.
            Now all that was missing was a chef and a pizza master.</h4>
            <br>
        <h4>In search of a talented and experienced chef we came across the talented Fabio.
            Fabio comes from Sardinia, gained experience in fine dining in London 10 years earlier and came to Vienna without further ado to implement the unique idea of ​​IL PENNELLO together with us.</h4>
            <br>
        <h4>Finally, all that was missing was a pizza master from Italy - preferably from Naples, of course, where the first pizza was invented in 1889. That's when we came across Peppe, who has been spoiling guests in Naples with excellent pizza for many years. He also decided to come to Vienna without further ado to show the Viennese what the real Neapolitan art of pizza means.</h4>
        <br>
        <h2>Thus was born IL PENNELLO.
            An unforgettable culinary experience.</h2>
            <br>
        <h4>Due to the demand, we decided to open a second location to bring another typical type of pizza to Vienna: the real Pinsa Romana. The pinsa is prepared according to the original recipe and the dough consists of a special mixture of different types of flour. It is elongated and is known for the very special "crunch". </h4>
        <br>
        <h4>And where could the location be more ideal than in the 1st district? We have set up our second location with a lot of love in order to create a cozy, typically Italian ambience here as well.</h4>
        <br>
        <h4>Furthermore, of course, the unique specialties of the regions of Italy should not be missing in our second location - so our special concept was continued here as well. Here our chef Davide cooks for you. He has over 30 years of experience all over the world and presents you with authentic Italian cuisine.</h4>
        <h4>In November 2022 we opened our third location on Franziskanerplatz - one of the most beautiful squares in Vienna. Our chef Fabio presents his unique creations of raw fish and gourmet focaccia. This restaurant in particular is particularly important to us, as we were able to realize the best of ourselves in the design. For us it is like at home here and we look forward to welcoming you to our home and letting you taste something very special.</h4>
        <br>
        <h4>So we leave you spoiled for choice:
            pizza napoletana, pinsa romana or focaccia & raw fish?
            We look forward to you!</h4>
            <hr class="border border-dark border-3 opacity-75">
            <h2>CodeReview Strasse 777, 6969 Wien</h2>
            <div><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d166.22034650526427!2d16.359336329901446!3d48.19649233943103!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d0751f8bba60d%3A0x95449c8bd63a6c4f!2z546L6K6w!5e0!3m2!1sde!2sat!4v1677266754467!5m2!1sde!2sat"  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <hr class="border border-dark border-3 opacity-75">
                <h1>CONTACT</h1>
                
                <h2><i class="fa fa-phone"></i> Phone: +43 | 69 | 666 1312</h2>
                <h2><i class="fa fa-envelope"></i> E-Mail: mafia@yahoo.com</h2>
            </div>
</div>
