<nav class="navbar navbar-light bg-info d-flex flex-wrap">

    <div></div>
    <div><button class="btn btn-outline-success bg-dark text-info my-sm-0 type=submit" routerLink="/home">Home</button></div>
    <div><button class="btn btn-outline-success bg-dark text-info my-sm-0 type=submit" routerLink="/about">About us</button></div>
    <div><button class="btn btn-outline-success my-sm-0 bg-dark text-info type=submit" routerLink="/menu">Menu</button></div>
    <div><button class="btn btn-outline-success my-sm-0 bg-dark text-info type=submit" routerLink="/cart">Cart</button></div>
    <div></div>
 
</nav>

